/* input trial */
.title-form {
	padding-top: 50px;
	color: #999;
}
.form-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin: 0px;
	padding-top: 2%;
}

.form-item {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form-label {
	margin-bottom: 8px;
	font-size: 14px;
	color: #999;
}

.form-input {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 16px;
	color: #444;
}

.form-input:focus {
	outline: none;
	border-color: #2e5bff;
	box-shadow: 0 0 0 2px rgba(46, 91, 255, 0.3);
}

.form-input:not(:placeholder-shown) + .form-label {
	transform: translate(0, -20px);
	font-size: 12px;
	color: #2e5bff;
	opacity: 1;
}

/* .form-input:not(:placeholder-shown) {
	padding-top: 24px;
} */
select {
	width: 100%;
	min-width: 15ch;
	max-width: 30ch;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.button_submit {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.button_submit:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.submit-button {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
}

.submit-button:hover {
	background-color: #0069d9;
}
